<ion-header>
  <ion-toolbar color="primary">

    <!-- <ion-buttons slot="start"> -->
    <a slot="start" [routerLink]="'/home-results'">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </a>
    <!-- </ion-buttons> -->

    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png" />
  </div> -->

  <ion-card class="bg-white" class="ion-no-margin">
    <ion-card-header>
      <!-- <h1 class="ion-margin-bottom">
        <ion-text color="primary"><strong>{{name}}</strong>
        </ion-text>
      </h1> -->
      <ion-grid>
        <ion-label>Buscar resultados nos últimos:</ion-label>
        <ion-row>
          <ion-col>
            <ion-button color="primary" (click)="update('24h')">24h</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="secondary" (click)="update('7d')">7 dias</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="tertiary" (click)="update('1m')">1 mês</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="update('3m')">3 meses</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="success" (click)="update('6m')">6 meses</ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
      <canvas #lineCanvas></canvas>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-start">{{firstDate | date :'dd/MM HH:mm'}}
          </ion-col>
          <ion-col class="ion-text-end">{{lastDate | date :'dd/MM HH:mm'}}</ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-list>
        <ion-item *ngFor="let packet of packetList">
          <ion-label>
            {{packet.createDate | date :'dd/MM HH:mm'}}
          </ion-label>
          <ion-label>
            {{packet.payload}} ºC
          </ion-label>

          <ion-label>
            {{packet.status ? 'Ligado' : 'Desligado'}}
          </ion-label>

        </ion-item>
      </ion-list> -->
    </ion-card-content>
  </ion-card>

</ion-content>